FunctionGroupType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.5.5293 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="https://homegear.eu/xmlNamespaces/ParameterGroupType"
           elementFormDefault="qualified"
           targetNamespace="https://homegear.eu/xmlNamespaces/FunctionGroupType"
           version="0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation=".\ParameterGroupType.xsd"
               namespace="https://homegear.eu/xmlNamespaces/ParameterGroupType" />
    <xs:complexType name="functions">
        <xs:sequence>
            <xs:element name="function"
                        xmlns:q1="https://homegear.eu/xmlNamespaces/FunctionGroupType"
                        type="q1:function"
                        minOccurs="1"
                        maxOccurs="128" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="function">
        <xs:sequence>
            <xs:element name="properties"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enabledEncryptionByDefault"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="visible"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="deletable"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="internal"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="dynamicChannelCount"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="physicalChannelIndexOffset"
                                    type="xs:byte"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="grouped"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="direction"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="sender" />
                                    <xs:enumeration value="receiver" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="forceEncryption"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="defaultLinkSettingsElementId"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="defaultGroupedLinkSettingsElementId"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="hasGroup"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="groupId"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="linkSenderFunctionTypes"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type"
                                                type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="linkReceiverFunctionTypes"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type"
                                                type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element xmlns:q1="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="configParameters"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element xmlns:q2="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="variables"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element xmlns:q3="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="linkParameters"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="alternativeFunction"
                        xmlns:q2="https://homegear.eu/xmlNamespaces/FunctionGroupType"
                        type="q2:function" />
        </xs:sequence>
        <xs:attribute name="channel"
                      type="xs:unsignedByte"
                      use="optional" />
        <xs:attribute name="type"
                      type="xs:string"
                      use="optional" />
        <xs:attribute name="channelCount"
                      type="xs:unsignedByte"
                      use="optional" />
    </xs:complexType>
</xs:schema>
