FunctionGroupType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="https://homegear.eu/xmlNamespaces/ParameterGroupType"
           xmlns:ns1="https://homegear.eu/xmlNamespaces/CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="https://homegear.eu/xmlNamespaces/FunctionGroupType"
           version="0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation=".\ParameterGroupType.xsd"
               namespace="https://homegear.eu/xmlNamespaces/ParameterGroupType" />
    <xs:import schemaLocation=".\CommonTypes.xsd"
               namespace="https://homegear.eu/xmlNamespaces/CommonTypes" />
    <xs:complexType name="functions">
        <xs:sequence>
            <xs:element xmlns:q1="https://homegear.eu/xmlNamespaces/FunctionGroupType"
                        name="function"
                        type="q1:function"
                        minOccurs="1"
                        maxOccurs="256" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="function">
        <xs:sequence>
            <xs:element name="properties"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="encryptionEnabledByDefault"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="visible"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="internal"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="deletable"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="dynamicChannelCount"
                                    type="ns1:number"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="countFromVariable"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">If this element is defined, the channel count is read from the variable specified in this element.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="physicalChannelIndexOffset"
                                    type="xs:byte"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="grouped"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="direction"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="sender" />
                                    <xs:enumeration value="receiver" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="forceEncryption"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="defaultLinkScenarioElementId"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="defaultGroupedLinkScenarioElementId1"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="defaultGroupedLinkScenarioElementId2"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="hasGroup"
                                    type="xs:boolean"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="groupId"
                                    type="xs:string"
                                    minOccurs="0"
                                    maxOccurs="1" />
                        <xs:element name="linkSenderFunctionTypes"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type"
                                                type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="linkReceiverFunctionTypes"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type"
                                                type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element xmlns:q1="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="configParameters"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element xmlns:q2="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="variables"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element xmlns:q3="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                        name="linkParameters"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element xmlns:q2="https://homegear.eu/xmlNamespaces/FunctionGroupType"
                        name="alternativeFunction"
                        type="q2:function"
                        minOccurs="0"
                        maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="channel"
                      type="xs:unsignedByte"
                      use="optional" />
        <xs:attribute name="type"
                      type="xs:string"
                      use="optional" />
        <xs:attribute name="channelCount"
                      type="xs:unsignedByte"
                      use="optional" />
    </xs:complexType>
</xs:schema>
