PacketType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="https://homegear.eu/xmlNamespaces/CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="https://homegear.eu/xmlNamespaces/PacketType"
           version="0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation=".\CommonTypes.xsd"
               namespace="https://homegear.eu/xmlNamespaces/CommonTypes" />
    <xs:complexType name="packet">
        <xs:sequence>
            <xs:element name="direction"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="toCentral" />
                        <xs:enumeration value="fromCentral" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="length"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="type"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="subtype"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="subtypeIndex"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="function1"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="function2"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="metaString1"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="metaString2"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:choice minOccurs="0"
                       maxOccurs="1">
                <xs:sequence>
                    <xs:element name="responseType"
                                type="ns0:number"
                                minOccurs="1"
                                maxOccurs="1" />
                    <xs:element name="responseSubtype"
                                type="ns0:number"
                                minOccurs="0"
                                maxOccurs="1" />
                </xs:sequence>
                <xs:element name="responseTypeId"
                            type="xs:string" />
                <xs:element name="responses"
                    minOccurs="0"
                    maxOccurs="1">
                    <xs:complexType>
                        <xs:choice minOccurs="1"
                                   maxOccurs="unbounded">
                            <xs:element name="response">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0"
                                                 maxOccurs="1">
                                        <xs:element name="responseId"
                                                    type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The id of the response packet.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="conditionOperator">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="e" />
                                                    <xs:enumeration value="g" />
                                                    <xs:enumeration value="l" />
                                                    <xs:enumeration value="ge" />
                                                    <xs:enumeration value="le" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="conditionParameterId"
                                                    type="xs:string"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="conditionChannel"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="conditionValue"
                                                    type="ns0:number" />                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:choice minOccurs="0"
                       maxOccurs="1">
                <xs:element name="channel"
                            type="ns0:number" />
                <xs:sequence>
                    <xs:element name="channelIndex"
                                type="ns0:number",
                                minOccurs="1"
                                maxOccurs="1" />
                    <xs:element name="channelSize"
                                type="ns0:number",
                                minOccurs="0"
                                maxOccurs="1" />
                    <xs:element name="channelIndexOffset"
                                type="ns0:number",
                                minOccurs="0"
                                maxOccurs="1" />
                </xs:sequence>
            </xs:choice>
            <xs:element name="doubleSend"
                        type="xs:boolean"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="splitAfter"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="maxPackets"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1" />
            <xs:element name="repeat"
                        type="xs:boolean"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">Set to false, if you don't want the packet to be sent multiple times. Default value is "true".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0"
                       maxOccurs="1">
                <xs:element name="binaryPayload">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="element"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="index"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="size"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="index2"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="size2"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="index2Offset"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="bitIndex"
                                                    type="xs:unsignedInt"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="bitSize"
                                                    type="xs:unsignedInt"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="parameterChannel"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="metaInteger1"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="metaInteger2"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="metaInteger3"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="metaInteger4"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="parameterId"
                                                    type="xs:string"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:choice minOccurs="1"
                                                   maxOccurs="1">
                                            <xs:element name="constValueInteger"
                                                        type="ns0:number" />
                                            <xs:element name="constValueDecimal"
                                                        type="ns0:number" />
                                            <xs:element name="constValueString"
                                                        type="xs:string" />
                                        </xs:choice>
                                        <xs:element name="isSigned"
                                                    type="xs:boolean"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                        <xs:element name="omitIf"
                                                    type="ns0:number"
                                                    minOccurs="0"
                                                    maxOccurs="1" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="jsonPayload">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="element"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key"
                                                    minOccurs="0"
                                                    maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="subkey"
                                                    minOccurs="0"
                                                    maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="subsubkey"
                                                    minOccurs="0"
                                                    maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="keyPath"
                                                    minOccurs="0"
                                                    maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="EN">Alternative for key and subkey if the path to the key is deeper than two keys. Seperate the keys by "\". E. g. my_key\my_subkey\my_subsubkey.</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="parameterId"
                                                    minOccurs="0"
                                                    maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:choice minOccurs="1"
                                                   maxOccurs="1">
                                            <xs:element name="constValueBoolean"
                                                        type="xs:boolean" />
                                            <xs:element name="constValueInteger"
                                                        type="ns0:number" />
                                            <xs:element name="constValueDecimal"
                                                        type="ns0:number" />
                                            <xs:element name="constValueString"
                                                        type="xs:string" />
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="httpPayload">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="element"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key"
                                                    minOccurs="1"
                                                    maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:choice minOccurs="1"
                                                   maxOccurs="1">
                                            <xs:element name="parameterId">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:minLength value="1" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="constValueBoolean"
                                                        type="xs:boolean" />
                                            <xs:element name="constValueInteger"
                                                        type="ns0:number" />
                                            <xs:element name="constValueDecimal"
                                                        type="ns0:number" />
                                            <xs:element name="constValueString"
                                                        type="xs:string" />
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id"
                      use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
