ParameterGroupType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.5.5293 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="https://homegear.eu/xmlNamespaces/CommonTypes"
           xmlns:ns1="https://homegear.eu/xmlNamespaces/ParameterCasts"
           xmlns:ns2="https://homegear.eu/xmlNamespaces/LogicalParameterTypes"
           xmlns:ns3="https://homegear.eu/xmlNamespaces/PhysicalParameterTypes"
           elementFormDefault="qualified"
           targetNamespace="https://homegear.eu/xmlNamespaces/ParameterGroupType"
           version="0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation=".\ParameterCasts.xsd"
               namespace="https://homegear.eu/xmlNamespaces/ParameterCasts" />
    <xs:import schemaLocation=".\LogicalParameterTypes.xsd"
               namespace="https://homegear.eu/xmlNamespaces/LogicalParameterTypes" />
    <xs:import schemaLocation=".\PhysicalParameterTypes.xsd"
               namespace="https://homegear.eu/xmlNamespaces/PhysicalParameterTypes" />
    <xs:complexType abstract="true"
                    name="parameterGroup">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="parameter"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="properties"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="readable"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="writeable"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="visible"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="internal"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="parameterGroupSelector"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="service"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="sticky"
                                                type="xs:boolean"
                                                minOccurs="0" />
                                    <xs:element name="control"
                                                type="xs:string"
                                                minOccurs="0" />
                                    <xs:element name="unit"
                                                type="xs:string"
                                                minOccurs="0"
                                                maxOccurs="1" />
                                    <xs:element name="casts"
                                                minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:choice minOccurs="0"
                                                       maxOccurs="unbounded">
                                                <xs:element name="decimalIntegerScale"
                                                            type="ns1:decimalIntegerScale" />
                                                <xs:element name="integerIntegerScale"
                                                            type="ns1:integerIntegerScale" />
                                                <xs:element name="integerIntegerMap"
                                                            type="ns1:integerIntegerMap" />
                                                <xs:element name="booleanInteger"
                                                            type="ns1:booleanInteger" />
                                                <xs:element name="decimalConfigTime"
                                                            type="ns1:decimalConfigTime" />
                                                <xs:element name="integerTinyFloat"
                                                            type="ns1:integerTinyFloat" />
                                                <xs:element name="stringUnsignedInteger"
                                                            type="ns1:stringUnsignedInteger" />
                                                <xs:element name="blindTest"
                                                            type="ns1:blindTest" />
                                                <xs:element name="optionString"
                                                            type="ns1:optionString" />
                                                <xs:element name="stringJsonArrayDecimal"
                                                            type="ns1:stringJsonArrayDecimal" />
                                                <xs:element name="rpcBinary"
                                                            type="ns1:rpcBinary" />
                                                <xs:element name="toggle"
                                                            type="ns1:toggle" />
                                                <xs:element name="cfm"
                                                            type="ns1:cfm" />
                                                <xs:element name="ccrtdnParty"
                                                            type="ns1:ccrtdnParty" />
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:choice minOccurs="1"
                                   maxOccurs="1">
                            <xs:element name="logicalBoolean"
                                        type="ns2:logicalBoolean" />
                            <xs:element name="logicalAction"
                                        type="ns2:logicalAction" />
                            <xs:element name="logicalInteger"
                                        type="ns2:logicalInteger" />
                            <xs:element name="logicalDecimal"
                                        type="ns2:logicalDecimal" />
                            <xs:element name="logicalString"
                                        type="ns2:logicalString" />
                            <xs:element name="logicalEnumeration"
                                        type="ns2:logicalEnumeration" />
                        </xs:choice>
                        <xs:choice minOccurs="1"
                                   maxOccurs="1">
                            <xs:element name="physicalInteger"
                                        type="ns3:physicalInteger" />
                            <xs:element name="physicalBoolean"
                                        type="ns3:physicalBoolean" />
                            <xs:element name="physicalString"
                                        type="ns3:physicalString" />
                        </xs:choice>
                        <xs:element name="packets"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="1"
                                           maxOccurs="unbounded">
                                    <xs:element name="packet">
                                        <xs:complexType>
                                            <xs:sequence minOccurs="0"
                                                         maxOccurs="1">
                                                <xs:element name="autoReset">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="parameterId"
                                                                        type="xs:string"
                                                                        minOccurs="1"
                                                                        maxOccurs="unbounded" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="delayedAutoReset">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="resetDelayParameterId"
                                                                        type="xs:string" />
                                                            <xs:element name="resetTo"
                                                                        type="ns0:number" />
                                                        </xs:all>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="id"
                                                          use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:minLength value="1" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id"
                                  type="xs:string"
                                  use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="configParameters">
        <xs:complexContent>
            <xs:extension xmlns:q1="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                          base="q1:parameterGroup" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="variables">
        <xs:complexContent>
            <xs:extension xmlns:q2="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                          base="q2:parameterGroup" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="linkParameters">
        <xs:complexContent>
            <xs:extension xmlns:q3="https://homegear.eu/xmlNamespaces/ParameterGroupType"
                          base="q3:configParameters">
                <xs:sequence>
                    <xs:element name="defaultLinkSettings"
                                minOccurs="0"
                                maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="defaultLinkSetting">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:anySimpleType">
                                                <xs:attribute name="parameterName"
                                                              type="xs:string" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="id"
                                          type="xs:string"
                                          use="optional" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="q3:memoryAddressGroup" />
                <xs:attributeGroup ref="q3:linkMemoryOffsetGroup" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="memoryAddressGroup">
        <xs:attribute name="memoryAddressStart"
                      type="xs:string"
                      use="optional" />
        <xs:attribute name="memoryAddressStep"
                      type="xs:unsignedByte"
                      use="optional" />
    </xs:attributeGroup>
    <xs:attributeGroup name="linkMemoryOffsetGroup">
        <xs:attribute name="peerChannelMemoryOffset"
                      type="xs:unsignedByte"
                      use="optional" />
        <xs:attribute name="channelMemoryOffset"
                      type="xs:unsignedByte"
                      use="optional" />
        <xs:attribute name="peerAddressMemoryOffset"
                      type="xs:unsignedByte"
                      use="optional" />
        <xs:attribute name="maxLinkCount"
                      type="xs:unsignedByte"
                      use="optional" />
    </xs:attributeGroup>
</xs:schema>
