RunProgramType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="https://homegear.eu/xmlNamespaces/CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="https://homegear.eu/xmlNamespaces/RunProgramType"
           version="0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation=".\CommonTypes.xsd"
               namespace="https://homegear.eu/xmlNamespaces/CommonTypes" />
    <xs:complexType name="runProgram">
        <xs:annotation>
            <xs:documentation>Define a program or script that is being started either once on start up, in intervals or that runs permanently. This can for example be used, to poll a server for data or run your own server for example written in PHP.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Either a relative path to a subdirectory of Homegear's script path (default: /var/lib/homegear/scripts) or the full path to the program.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arguments"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Arguments that should be passed to the program.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="argument"
                                    minOccurs="1"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>$PEERID is replaced by the id of the calling peer.
$RPCPORT is replaced by the port, Homegear's non ssl RPC server listens on.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>"once" and "permanent" are equivalent except when "permanent" is used, the program is being restarted when it is closed.
If "permanent" is used, Homegear sends signal 15 (SIGTERM) to the process on shutting down (equivalent to "kill pid").</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="once" />
                        <xs:enumeration value="permanent" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="interval"
                        type="ns0:number"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Start interval in seconds. Only used if "start_type" is "interval". Homegear always waits until the program has finished before starting a new instance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
